.App {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 20px;
}

.leftSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 5px solid grey;
  flex-direction: column;
}

.rightSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerBoard {
  width: 650px;
  height: 600px;
  background: cornflowerblue;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.row {
  width: 100%;
  display: flex;
}

.col {
  height: 90px;
  width: 90px;
  border: 1px solid grey;
  background: white;
  border-radius: 50%;
}

.inputContainer {
  width: 300px;
  height: 30px;
  margin: 10px 0;
}

.inputTag {
  width: 100%;
  height: 100%;
  padding-left: 5px;
}
